<% @tag ||= Tag.new %>

<div class="main">
    <div class="list">
        <%= render(partial: "list", locals: {:characters => @characters}) %>
    </div>
    <div class="edit">
        <% if @character.id %>
        <%= render(partial: "edit", locals: {:character => @character, :tag => @tag}) %>
        <% end %>
    </div>
</div>
